@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
@import url("https://fonts.googleapis.com/css?family=Kaushan+Script:400|Fredoka+One:400");
* {
  box-sizing: border-box;
}
.fredokaone-normal-white-12px {
  color: white;
  font-family: "Fredoka One", Helvetica, Arial, serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
}
.fredokaone-normal-white-18px {
  color: transparent;
  font-family: "Fredoka One", Helvetica, Arial, serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
}
.kaushanscript-normal-white-140px {
  color: var(--white);
  font-family: "Kaushan Script", Helvetica, Arial, serif;
  font-size: 140px;
  font-style: normal;
  font-weight: 400;
}
.pointina-10 {
  align-items: center;
  background-color: var(--hunter-green);
  display: flex;
  flex-direction: column;
  height: 842px;
  width: 595px;
}
.pointina-10 .auto-flex {
  align-items: center;
  display: flex;
  height: 165px;
  margin-right: 8px;
  margin-top: 17px;
  min-width: 518px;
}
.pointina-10 .auto-flex1 {
  align-items: center;
  display: flex;
  height: 165px;
  margin-right: 8px;
  margin-top: 70px;
  min-width: 517px;
}
.pointina-10 .auto-flex2 {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  margin-top: -76px;
  min-height: 870px;
  width: 563px;
}
.pointina-10 .auto-flex3 {
  align-items: flex-start;
  display: flex;
  margin-top: 15px;
  min-width: 563px;
}
.pointina-10 .group-3 {
  height: 16px;
  margin-left: 4px;
  pointer-events: auto;
  transition: all 0.2s ease;
  width: 16px;
}
.pointina-10 .group-3:hover {
  transform: scale(0.9);
}
.pointina-10 .group-4 {
  height: 16px;
  pointer-events: auto;
  transition: all 0.2s ease;
  width: 16px;
}
.pointina-10 .group-4:hover {
  transform: scale(0.9);
}
.pointina-10 .image-5 {
  height: 72px;
  margin-bottom: 17px;
  object-fit: cover;
  pointer-events: auto;
  transition: all 0.2s ease;
  width: 74px;
}
.pointina-10 .image-5-1 {
  height: 76px;
  margin-top: 1px;
  object-fit: cover;
  pointer-events: auto;
  transition: all 0.2s ease;
  width: 76px;
}
.pointina-10 .image-5-1:hover {
  transform: rotate(15deg);
}
.pointina-10 .image-5:hover {
  transform: rotate(15deg);
}
.pointina-10 .keyboard-arrow-right-1 {
  align-items: flex-start;
  display: flex;
  height: 16px;
  overflow: hidden;
  padding: 4px 0;
  transform: rotate(180deg);
  width: 16px;
}
.pointina-10 .keyboard-arrow-right-1-1 {
  align-items: flex-start;
  display: flex;
  height: 16px;
  overflow: hidden;
  padding: 4px 0;
  width: 16px;
}
.pointina-10 .line-3 {
  height: 1px;
  margin-top: 135px;
  width: 563px;
}
.pointina-10 .place {
  height: 15px;
  letter-spacing: 0.36px;
  margin-left: 5px;
  min-height: 15px;
  min-width: 36px;
  pointer-events: auto;
  text-align: right;
  transition: all 0.2s ease;
}
.pointina-10 .place:hover {
  transform: scale(0.9);
}
.pointina-10 .span {
  color: rgba(255, 255, 255, 1);
  font-family: "Fredoka One", Helvetica, Arial, serif;
  font-size: 18px;
  line-height: 18px;
}
.pointina-10 .span-1 {
  color: rgba(255, 233, 0, 1);
  font-family: "Fredoka One", Helvetica, Arial, serif;
  font-size: 18px;
  line-height: 18px;
}
.pointina-10 .text-1 {
  height: 15px;
  letter-spacing: 0.36px;
  margin-left: 349px;
  min-height: 15px;
  min-width: 137px;
  pointer-events: auto;
  text-align: right;
  transition: all 0.2s ease;
}
.pointina-10 .text-1:hover {
  transform: scale(0.9);
}
.pointina-10 .text-2 {
  align-self: center;
  letter-spacing: 1.08px;
  line-height: 30.3px;
  margin-right: 2px;
  margin-top: 63px;
  min-height: 102px;
  pointer-events: auto;
  transition: all 0.2s ease;
  width: 507px;
}
.pointina-10 .text-2:hover {
  transform: scale(1.1);
}
.pointina-10 .text-3 {
  letter-spacing: 1.08px;
  line-height: 30.3px;
  margin-left: 38px;
  min-height: 165px;
  pointer-events: auto;
  transition: all 0.2s ease;
  width: 405px;
}
.pointina-10 .text-3:hover {
  transform: scale(1.1);
}
.pointina-10 .text-4 {
  letter-spacing: 1.08px;
  line-height: 30.3px;
  margin-left: 37px;
  min-height: 165px;
  pointer-events: auto;
  transition: all 0.2s ease;
  width: 405px;
}
.pointina-10 .text-4:hover {
  transform: scale(1.1);
}
.pointina-10 .vdeo {
  align-self: center;
  height: 152px;
  letter-spacing: 0px;
  line-height: 151.8px;
  margin-left: 3px;
  min-height: 152px;
  min-width: 294px;
  white-space: nowrap;
}
.pointina-10 .vector {
  height: 8px;
  transform: rotate(-180deg);
  width: 16px;
}
.pointina-10 .vector-1 {
  height: 8px;
  width: 16px;
}
:root {
  --hunter-green: rgba(22, 22, 22, 1);
  --white: rgba(255, 255, 255, 0.1);
}
.valign-text-middle {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
