@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
@import url("https://fonts.googleapis.com/css?family=Kaushan+Script:400|Fredoka+One:400");
* {
  box-sizing: border-box;
}
.fredokaone-normal-white-12px {
  color: white;
  font-family: "Fredoka One", Helvetica, Arial, serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
}
.fredokaone-normal-white-18px {
  color: transparent;
  font-family: "Fredoka One", Helvetica, Arial, serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
}
.kaushanscript-normal-white-140px {
  color: var(--white);
  font-family: "Kaushan Script", Helvetica, Arial, serif;
  font-size: 140px;
  font-style: normal;
  font-weight: 400;
}
.pointina-11 {
  align-items: flex-end;
  background-color: var(--hunter-green);
  display: flex;
  flex-direction: column;
  height: 842px;
  padding: 0 12px;
  width: 595px;
}
.pointina-11 .auto-flex {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: -76px;
  min-height: 870px;
  width: 567px;
}
.pointina-11 .auto-flex1 {
  align-items: flex-start;
  align-self: center;
  display: flex;
  margin-top: 15px;
  min-width: 563px;
}
.pointina-11 .fotos {
  height: 152px;
  letter-spacing: 0px;
  line-height: 151.8px;
  margin-right: 1px;
  min-height: 152px;
  min-width: 298px;
  white-space: nowrap;
}
.pointina-11 .group-3 {
  height: 16px;
  margin-left: 4px;
  pointer-events: auto;
  transition: all 0.2s ease;
  width: 16px;
}
.pointina-11 .group-3:hover {
  transform: scale(0.9);
}
.pointina-11 .group-4 {
  height: 16px;
  pointer-events: auto;
  transition: all 0.2s ease;
  width: 16px;
}
.pointina-11 .group-4:hover {
  transform: scale(0.9);
}
.pointina-11 .image-3 {
  height: 86px;
  margin-right: 3px;
  margin-top: 40px;
  object-fit: cover;
  pointer-events: auto;
  transition: all 0.2s ease;
  width: 88px;
}
.pointina-11 .image-3:hover {
  transform: rotate(15deg);
}
.pointina-11 .keyboard-arrow-right-1 {
  align-items: flex-start;
  display: flex;
  height: 16px;
  overflow: hidden;
  padding: 4px 0;
  transform: rotate(180deg);
  width: 16px;
}
.pointina-11 .keyboard-arrow-right-1-1 {
  align-items: flex-start;
  display: flex;
  height: 16px;
  overflow: hidden;
  padding: 4px 0;
  width: 16px;
}
.pointina-11 .line-4 {
  height: 1px;
  margin-right: 4px;
  margin-top: 154px;
  width: 563px;
}
.pointina-11 .place {
  height: 15px;
  letter-spacing: 0.36px;
  margin-left: 7px;
  min-height: 15px;
  min-width: 36px;
  pointer-events: auto;
  text-align: right;
  transition: all 0.2s ease;
}
.pointina-11 .place:hover {
  transform: scale(0.9);
}
.pointina-11 .span {
  color: rgba(255, 255, 255, 1);
  font-family: "Fredoka One", Helvetica, Arial, serif;
  font-size: 18px;
  line-height: 18px;
}
.pointina-11 .span-1 {
  color: rgba(255, 233, 0, 1);
  font-family: "Fredoka One", Helvetica, Arial, serif;
  font-size: 18px;
  line-height: 18px;
}
.pointina-11 .text-1 {
  letter-spacing: 1.08px;
  line-height: 30.3px;
  margin-right: 2px;
  margin-top: 57px;
  min-height: 102px;
  pointer-events: auto;
  transition: all 0.2s ease;
  width: 507px;
}
.pointina-11 .text-1:hover {
  transform: scale(1.1);
}
.pointina-11 .text-2 {
  letter-spacing: 1.08px;
  line-height: 30.3px;
  margin-left: 2px;
  margin-top: 60px;
  min-height: 218px;
  pointer-events: auto;
  transition: all 0.2s ease;
  width: 565px;
}
.pointina-11 .text-2:hover {
  transform: scale(1.1);
}
.pointina-11 .text-3 {
  height: 15px;
  letter-spacing: 0.36px;
  margin-left: 314px;
  min-height: 15px;
  min-width: 170px;
  pointer-events: auto;
  text-align: right;
  transition: all 0.2s ease;
}
.pointina-11 .text-3:hover {
  transform: scale(0.9);
}
.pointina-11 .vector {
  height: 8px;
  transform: rotate(-180deg);
  width: 16px;
}
.pointina-11 .vector-1 {
  height: 8px;
  width: 16px;
}
:root {
  --hunter-green: rgba(22, 22, 22, 1);
  --white: rgba(255, 255, 255, 0.1);
}
.valign-text-middle {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
a {
  text-decoration: none;
  display: contents;
}
