@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
@import url("https://fonts.googleapis.com/css?family=Kaushan+Script:400|Fredoka+One:400");
* {
  box-sizing: border-box;
}
.fredokaone-normal-buddha-gold-9px {
  color: var(--buddha-gold);
  font-family: "Fredoka One", Helvetica, Arial, serif;
  font-size: 9px;
  font-style: normal;
  font-weight: 400;
}
.fredokaone-normal-white-12px {
  color: white;
  font-family: "Fredoka One", Helvetica, Arial, serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
}
.fredokaone-normal-white-16px {
  color: white;
  font-family: "Fredoka One", Helvetica, Arial, serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
}
.fredokaone-normal-white-16px-2 {
  color: var(--white);
  font-family: "Fredoka One", Helvetica, Arial, serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
}
.kaushanscript-normal-turbo-60px {
  color: var(--turbo);
  font-family: "Kaushan Script", Helvetica, Arial, serif;
  font-size: 60px;
  font-style: normal;
  font-weight: 400;
}
.persaonal-info {
  align-items: flex-end;
  background-color: var(--hunter-green);
  display: flex;
  flex-direction: column;
  height: 842px;
  padding: 83px 9px;
  width: 595px;
}
.persaonal-info .auto-flex {
  align-items: flex-start;
  align-self: flex-start;
  display: flex;
  margin-left: 41px;
  margin-top: 163px;
  min-width: 290px;
}
.persaonal-info .auto-flex1 {
  align-items: flex-start;
  align-self: flex-start;
  display: flex;
  margin-left: 41px;
  margin-top: 4px;
  min-width: 339px;
}
.persaonal-info .auto-flex2 {
  align-items: flex-start;
  display: flex;
  margin-right: 7px;
  margin-top: 15px;
  min-width: 77px;
}
.persaonal-info .auto-flex3 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 0px;
  min-height: 312px;
  position: absolute;
  top: 85px;
  width: 220px;
}
.persaonal-info .edicin-de-vdeo {
  height: 19px;
  left: 0px;
  letter-spacing: 1.92px;
  pointer-events: auto;
  position: absolute;
  top: 3px;
  transition: all 0.2s ease;
}
.persaonal-info .edicin-de-vdeo:hover {
  transform: scale(0.9);
}
.persaonal-info .editor-profesional {
  align-self: flex-end;
  height: 19px;
  letter-spacing: 1.92px;
  margin-right: 4px;
  margin-top: 8px;
  min-height: 19px;
  min-width: 210px;
  pointer-events: auto;
  transition: all 0.2s ease;
}
.persaonal-info .editor-profesional:hover {
  transform: scale(1.1);
}
.persaonal-info .email-de-contacto {
  height: 11px;
  letter-spacing: 0.9px;
  min-height: 11px;
  min-width: 112px;
  pointer-events: auto;
  transition: all 0.2s ease;
}
.persaonal-info .email-de-contacto:hover {
  transform: scale(1.1);
}
.persaonal-info .group-2 {
  height: 16px;
  margin-left: 6px;
  pointer-events: auto;
  transition: all 0.2s ease;
  width: 16px;
}
.persaonal-info .group-2:hover {
  transform: scale(0.9);
}
.persaonal-info .image-8 {
  height: 285px;
  left: 12px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 285px;
}
.persaonal-info .image-9 {
  height: 155px;
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 280px;
  width: 310px;
}
.persaonal-info .keyboard-arrow-right-1 {
  align-items: flex-start;
  display: flex;
  height: 16px;
  overflow: hidden;
  padding: 4px 0;
  width: 16px;
}
.persaonal-info .lex-castelln {
  height: 130px;
  letter-spacing: 0px;
  line-height: 65px;
  min-height: 130px;
  pointer-events: auto;
  transition: all 0.2s ease;
}
.persaonal-info .lex-castelln:hover {
  transform: scale(1.1);
}
.persaonal-info .line-3 {
  height: 1px;
  margin-right: 7px;
  margin-top: 15px;
  width: 563px;
}
.persaonal-info .line-5 {
  height: 92px;
  left: 2px;
  position: absolute;
  top: 0px;
  width: 2px;
}
.persaonal-info .mis-aptitudes {
  height: 19px;
  letter-spacing: 1.92px;
  margin-left: 6px;
  margin-top: 16px;
  min-height: 19px;
  pointer-events: auto;
  transition: all 0.2s ease;
}
.persaonal-info .mis-aptitudes:hover {
  transform: scale(0.9);
}
.persaonal-info .overlap-group {
  height: 92px;
  left: 6px;
  position: absolute;
  top: 410px;
  width: 319px;
}
.persaonal-info .overlap-group1 {
  height: 435px;
  left: 232px;
  position: absolute;
  top: 0px;
  width: 310px;
}
.persaonal-info .overlap-group2 {
  height: 502px;
  position: relative;
  width: 542px;
}
.persaonal-info .phone {
  height: 15px;
  letter-spacing: 0px;
  margin-left: 76px;
  min-height: 15px;
  pointer-events: auto;
  transition: all 0.2s ease;
}
.persaonal-info .phone:hover {
  transform: scale(1.1);
}
.persaonal-info .sobre-m {
  height: 19px;
  letter-spacing: 1.92px;
  margin-left: 6px;
  margin-top: 101px;
  min-height: 19px;
  pointer-events: auto;
  transition: all 0.2s ease;
}
.persaonal-info .sobre-m-1 {
  height: 15px;
  letter-spacing: 0.36px;
  min-height: 15px;
  min-width: 55px;
  pointer-events: auto;
  text-align: right;
  transition: all 0.2s ease;
}
.persaonal-info .sobre-m-1:hover {
  transform: scale(0.9);
}
.persaonal-info .sobre-m:hover {
  transform: scale(0.9);
}
.persaonal-info .tefono {
  height: 11px;
  letter-spacing: 0.9px;
  margin-left: 126px;
  min-height: 11px;
  pointer-events: auto;
  transition: all 0.2s ease;
}
.persaonal-info .tefono:hover {
  transform: scale(1.1);
}
.persaonal-info .text-1 {
  height: 19px;
  left: 0px;
  letter-spacing: 1.92px;
  pointer-events: auto;
  position: absolute;
  top: 38px;
  transition: all 0.2s ease;
}
.persaonal-info .text-1:hover {
  transform: scale(0.9);
}
.persaonal-info .text-2 {
  height: 19px;
  left: 0px;
  letter-spacing: 1.92px;
  pointer-events: auto;
  position: absolute;
  top: 73px;
  transition: all 0.2s ease;
}
.persaonal-info .text-2:hover {
  transform: scale(0.9);
}
.persaonal-info .text-3 {
  height: 15px;
  letter-spacing: 0.36px;
  min-height: 15px;
  min-width: 162px;
  pointer-events: auto;
  transition: all 0.2s ease;
}
.persaonal-info .text-3:hover {
  transform: scale(1.1);
}
.persaonal-info .vector {
  height: 8px;
  width: 16px;
}
:root {
  --buddha-gold: rgba(196, 181, 5, 1);
  --hunter-green: rgba(22, 22, 22, 1);
  --turbo: rgba(255, 233, 0, 1);
  --white: rgba(255, 255, 255, 0.26);
}
.valign-text-middle {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
